.header {
  display: flex;
  align-items: center;
  font-family: 'Inter Variable', sans-serif;
  font-size: 1.2em;
  justify-content: space-between;
  background-color: var(--background-color-main-transparent);
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.h1 {
  color: var(--primary-accent-color-dark);
  text-shadow: 0 0 2px var(--primary-accent-color);
  padding-left: 2.0rem;
}

.ul {
  display: flex;
  list-style-type: none;
}

.ul a {
  text-decoration: none;
}

.ul a:visited {
  color: inherit;
}

.ul a:hover {
  background-color: var(--primary-accent-color);
  box-shadow: 
    0 0 0 7px var(--primary-accent-color),
    0 0 0 5px var(--primary-accent-color),
    0 0 0 3px var(--primary-accent-color),
    0 0 0 1px var(--primary-accent-color);
  border-radius: 5px;
}

.ul a:active {
  background-color: var(--primary-accent-color);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.ul li {
  border-right: 1px solid var(--primary-bar-color);
  padding-right: 1rem;
  margin-right: 1rem;
}

.ul li:last-child {
  border-right: none;
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
    font-size: 1em;
  }

  .header > * {
    margin-bottom: 0;
  }
}