---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogList from "../components/blog/BlogList.tsx";
import AboutMe from "../components/content/AboutMe.tsx";
---

<BaseLayout title="| Blog">
  <div class="maincontainer">
    <BlogList />
    <AboutMe />
  </div>
</BaseLayout>

<style>
  .blogPage {
    display: grid;
    grid-template-columns: 4fr 3fr;
  }
</style>

