---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <div class="mainContainer">
    <div class="mainColumn">

    </div>
    <div class="sideColumn">
    </div>
  </div>
</BaseLayout>

