.tag {
  background-color: var(--background-color-dark);
  color: var(--tertiary-accent-color);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.tag:hover {
  box-shadow: 0 0 2px 2px var(--tertiary-accent-color);
}

.p {
  margin: 0.5rem 0;
  line-height: 2rem;
}

.span {
  border-right: var(--primary-bar-color) 1px solid;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}