
.blogElement {
  list-style-type: none;
}

.blogHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  gap: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: var(--primary-bar-color) 1px solid;
}

.blogHeader span {
  color: var(--primary-bar-color-dark);
}

.h3 {
  margin: 0;
  padding: 0;
  text-wrap: balance;
}

.lineOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.link {
  background-color: var(--background-color);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-radius: 10px 0 0 10px;
  height: fit-content;
  text-decoration: none;

  display: flex;
  flex-direction: column;
}

.link:hover {
  box-shadow: 0 0 3px 3px var(--secondary-accent-color);
}

.link:visited {
  color: inherit;
}