---
import Header from '../components/format/Header.tsx';
import Footer from '../components/format/Footer.tsx';
import './Styles.css';
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alex Rumak {title}</title>
	</head>
	<body class="background">
		<div class="website">
			<Header />
			<div class="content">
				<div class="mainContainer">
					<div class="blog">
						<slot name="blog" />
					</div>
					<div class="mainColumn">
						<slot name="main" />
					</div>
					<div class="sideColumn">
						<slot name="side"/>
					</div>
  			</div>
			</div>
			<Footer />
		</div>
	</body>
</html>

<style>
  .mainContainer {
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin-top: 0.5rem;
    gap: 0.5rem;
  }

  .mainColumn {
    grid-column: 1;
    display: flex;
    flex-direction: column;
		gap: 0.5rem;
  }

  .sideColumn {
    grid-column: 2;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
  }

	@media (max-width: 600px) {
		.mainContainer {
			display: flex;
			flex-direction: column;
		}

		.sideColumn
		{
			display: none;
		}
	}

	.blog {
		grid-column: 1 / -1;
	}
</style>