
/* THESE actually apply globally */
:root {
  --background-color: oklch(0.9821 0 0);
  --background-color-main: oklch(0.9521 0 0);
  --background-color-main-transparent: oklch(95.213% 0.00011 271.152 / 0.707);
  --background-color-dark: oklch(0.91 0 0); 
  --primary-accent-color: oklch(0.6636 0.1383 245.42);
  --primary-accent-color-dark: oklch(0.6636 0.1383 245.42); 
  --secondary-accent-color: oklch(0.9169 0.1533 97.86);
  --tertiary-accent-color: oklch(0.7108 0.193 4.78);
  --primary-bar-color: #ccc;
  --primary-bar-color-dark: #9c9c9c;

  /* font-sizes */
  --main-text-size: 1.0rem;
}

:root 
{
  font-family: 'Inter Variable', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.background {
  background-color: var(--background-color);
  background: 
    radial-gradient(circle at center, transparent 60%, white 100%),
    url('/background.jpeg');
  background-size: cover cover;
  background-position: center center;
}

.website {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 90vw;
  min-width: 600px;
  max-width: 1000px;
  min-height: 95vh;
  background-color: var(--background-color-main-transparent);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.website > *:nth-last-child(2) {
  flex-grow: 1; /* This element takes remaining space */
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

